.activities-list {
    /* display:grid;
    grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
    gap: 30px; */
    display: flex;
    margin: 0 5%;
    overflow-x: hidden;
    overflow-x: scroll;
    padding-bottom: 60px;
    padding-top: 20px;
    
}

