.sport-holder img {
    width: 50px;
}
.clicked .image-holder {
    background-color: rgb(220, 220, 220);
    /* box-shadow: black 2px 2px 0px inset; */
    box-shadow: inset 0 0 3px;
    
}

.edit-form-holder {
    display: grid;
    grid-template-columns: 2fr 3fr;
    margin-top: 30px;
    padding: 0px 20px;
    gap:20px;
}
.edit-img {
    width: 200px;
}

.edit-form-holder form {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.edit-form-holder input {
    all: unset;
    height: 1.5em;
    border: 1px solid gray;
    border-radius: 5px;
    width: 200px;
}


.upload-label {
    border: 1px solid gray;
    height: 1.5em;
    border-radius: 5px;
    width: 200px;
}


.edit-sport-holder {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 10px 10px;
    display: flex;
    gap:20px;
    flex-wrap: wrap;
}


@media screen and (max-width: 850px) {
    .edit-form-holder {
        display: grid;
        grid-template-columns: 1fr;
    }
}