.user-card img {
    width: 100%;
}

.user-card {
    border-radius: 10000px;
    border: 1.5px solid rgb(255, 255, 255);
    width: 100px;
    height: 100px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    background-color: white;
}
.user-card:hover {
    cursor: pointer;
}
.user-card span {
    position: relative;
}