/* .activity-details-holder {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
} */

.activity-details-holder .mapboxgl-map {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}
.activity-details-holder .button-holder {
    display:flex;
    justify-content: center;
    gap:10px;
    flex-wrap: wrap;
}


.activity-details-card {
    padding: 10px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}
.activity-details-card .members-holder .user-card {
    scale:0.5
}
.activity-details-card .members-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.activity-details-card .background-holder {
    display: flex;
    justify-content: space-between;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0% 50%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: 700;
    padding: 10px;
    border-radius: 10px;
}

.main-info-holder {
    padding: 5px 0px;
    width: 40%;
    min-width: 300px;
    max-width: 400px;
    color: white;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.4);
    background-color: rgba(93, 92, 92, 0.715);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 10px;
}
.main-info-holder .sport-card {
    filter: invert(1)
}

@media screen and (max-width:700px) {
    .activity-details-card .background-holder {
        flex-direction: column;
        align-items: center;
        gap:10px;
    }
    .activity-details-card .background-holder .main-info-holder {
        width: 80%;
    }
}
