
.choose-sport {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../../public/assets/braden-collum-9HI8UJMSdZA-unsplash.jpg');
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
    color: white;  
    box-shadow: rgba(0, 0, 0, 0.411) 0px 10px 20px;
    margin-bottom: 50px;
}
.choose-sport .image-holder {
    background-color: rgba(230, 230, 230, 0.555);
    box-shadow: rgba(0, 0, 0, 0.452) 0px 5px 15px;
    filter: invert(1);
    scale: 1.1
}

.choose-sport .image-holder:hover {
    transform: scale(1.15);
    background-color: rgba(75, 75, 75, 0.788);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    filter: invert(1);
}



.choose-sport h3{
    padding: 20px 10px;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.4) 
} 

.activities-main h3{
    font-weight: 600;
    font-size: 1.4em;
    
} 