.main-navbar {
    height: 50px;
    width: 100%;
    font-size: 1em;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content:space-between;
    box-shadow: 5px 2px 26px 10px grey;
    position: sticky;  
    top: 0; 
     
    z-index: 1;
}
 
.logo { 
    font-size: 1.5em;   
    font-weight: 900;
    color: rgb(10, 10, 10);
}

.logo span {
    font-style: italic;
}

.main-navbar div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.main-navbar a, button {
    cursor: pointer;
}

.main-navbar a:hover {
    color: rgb(62, 123, 62);
    
}

.user-navigation {
    padding-right: 20px;
    display: flex;
    gap: 15px
}

.user-navigation button {
   all: unset;    
}

.user-navigation button:hover {
    color: rgb(123, 66, 62);
 }

 .add-activity{
    font-size: 2em;
    font-weight: 900;
    padding-bottom: 2px;
 }

 /* .dropdown {
    float: left;
    overflow: hidden;
    display: none;
  } */

  .dropdown .dropbtn {
    font-size: 1em;  
    border: none;
    outline: none;
    color: rgb(0, 0, 0);    
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    margin-left: 10px;
  }

  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(187, 187, 187);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 120px;
    top: -3px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px; 
    z-index: 1; 
 
  }


  
  .dropdown-content li {
    text-align: left;
    font-size: 1em;
    display: block;
    border-bottom: 1px solid rgba(0, 0, 0, 0.171);
}

  .dropdown-content a {
    float: none;
    color: black;  
  }


  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  @media screen and (max-width:700px) {
    .activities-nav-link,
    .dropdown,
    .dropdown .dropbtn {
      display: none;
    }
  }
  
  