.profile-image {
    width: 200px;
}

.profile-holder {
    /* display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 2fr 5fr; */
    margin-top: 30px;
    padding: 0px 35px;
    gap:20px;
    display: flex;
}

.profile-info {
    /* border: 1px solid black; */
    padding: 10px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    /* grid-row: 1/3; */
    width: 25%;
}

.profile-all-activities {
    /* border: 1px solid black; */
    padding: 10px 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    display:flex;
    flex-direction: column;
    gap: 20px;
    /* grid-row:1/6 */
    width: 70%;
}
.profile-all-activities .button {
    align-self: center;
}

.profile-all-activities .activity-card {
    max-width: 200px;
}

.profile-page .sports-holder {
    display:flex;
    gap:20px;
    flex-wrap: wrap;
}
.follow-div {
    cursor: pointer;
}

h4 {
    margin:0;
    padding:0;

}

@media screen and (max-width: 850px) {
    .profile-holder {
        flex-direction: column;
    }
    .profile-info {
        width: 100%;
    }
    .profile-all-activities {
        width: 100%;
    }

}