.App {
  text-align: center;
}
a {
  all:unset;
  text-decoration: none;
}


.button {
  all:unset;
  box-sizing: border-box;
  /* border: 1px solid white; */
  padding: 0.5em 2em;
  border-radius: 5px;
  text-align: center;
  background-color: black;
  color: white;
  max-width: max-content;
  line-height: 1em;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(62, 123, 62);
  transition: background-color 0.2s, box-shadow 0.2s;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 10px 0px;
}




/* Added by Joanna  */
::-webkit-scrollbar {

  height: 10px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.034);
  border-radius: 2px;
}
 
::-webkit-scrollbar-thumb {
  background: #0e0e0e1f; 

  border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0e0e0e5e; 
}

.h3 {
  padding: 0;
}

input:focus {
  outline: none;
  background-color: white;
}